.tagbasiclistselect {
  .selectwrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(244,245,249,1);
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .header {
      margin: 0;
      background-color: white;
      padding: 10px 0;
      width: 100%;
  }

  .headerleft {
      margin: 0 20px;
      float: left;
  }

  .headerright {
      margin: 0px;
      padding: 0px;
      float: right;
      width: 50px;
  }

  .headermiddle {
      float: none;
      width: auto;
      margin: 0 50px;
      text-align: center;
      font-size: 1.1rem;
  }

  .selectsum {
      text-align: right;
      color: red;
      padding: 10px 20px;
      background-color: rgba(244,245,249,1);
      width: 100%;
  }
}